[Unit]
Description=gunicorn flask socket

[Socket]
ListenStream=/run/gunicorn_flask.sock
# Set proper permissions
SocketUser=root
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
