[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/wtsdashboard/whatsappsms_develop/sms
ExecStart=/root/wtsdashboard/wtsenv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sms.wsgi:application

[Install]
WantedBy=multi-user.target
