{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}


<!-- Content wrapper -->
<div class="content-wrapper">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>


    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- First row for whatsapp banner -->
        <div class="row" style="height: 500px; box-shadow: none;">
            <div class="card bg-light" style="height: 500px; overflow: auto; box-shadow: none;">
                <img src="/static/assets/img/backgrounds/whatsapp.png"
                    style="width: 1000px; height: 500px; margin-left: auto; margin-right: auto;">
            </div>
            <hr>
        </div>

        <!-- Second row for advertisement banner -->
        <div class="row" style="height: 500px; overflow-y: auto; background-color: white; margin-top: 200px;">
            <div class="card bg-light w-50 border-0">
                <img src="/static/assets/img/backgrounds/about-left-image.png"
                    style="width: 400px; height: 350px; margin-left: auto; margin-right: auto; margin-top: 50px;">
            </div>

            <div class="card bg-light w-50" style="box-shadow: none;">
                <h3 style="text-align: center; font-weight: 700; color: #184cd0;">Best Bulk SMS Provider
                    In India</h3>
                <ul style="font-size: 20px; font-weight: 700; list-style: square; margin-top: 50px;">
                    <li>
                        Properly Integrated
                    </li>
                    <li>
                        Timely Execution
                    </li>
                    <li>
                        Technical Support
                    </li>
                    <li>
                        Versatile Plateform
                    </li>
                    <li>
                        24/7 Support
                    </li>
                    <li>
                        Totally Secured
                    </li>
                    <li>
                        Master Analytics
                    </li>
                    <li>
                        Original Content
                    </li>
                    <li>
                        Simpler Execution
                    </li>
                </ul>
            </div>

        </div>


        <!-- Third row for instructions -->
        <div class="row" style="height: 500px; background-color: white; margin-top: 100px;">

            <div class="card w-50" style="box-shadow: none;">
                <h3 style="text-align: center; font-weight: 700; color: #184cd0;">Instructions</h3>
                <ol id="ols" style="margin-top: 35px;">

                    <li id="lis">Step 1 - Go to Campaign page
                        <ol id="ols" style="margin-top: 10px; font-size: 18px;">
                            <li id="clis">Fill all the requirements</li>
                            <li id="clis">Click save button</li>
                            <li id="clis">Check your template status
                                <ol id="ols">
                                    <li>- If your template is approved then follow <u>Step 2</u></li>
                                    <li>- If template is pending then please wait until approval</li>
                                </ol>
                            </li>

                        </ol>
                    </li>
                    <li id="lis">Step 2 - There are two options: (a) If you haven't selected any media
                        type in campaign page for template then you can go on SEND SMS page directly
                        after approval.
                    </li>
                    <li id="lis">
                        (b)If you have selected media type in campaign page (text, document, video,
                        image) then please
                        read following instructions:-
                        <ol id="ols" style="margin-top: 10px; font-size: 18px;">
                            <li id="clis">Go to MEDIA ID page</li>
                            <li id="clis">Upload your media file and fill your approved template id</li>
                            <li id="clis">Click on submit button to generate media id</li>
                            <li id="clis">Copy generated media id and go to send sms page</li>
                        </ol>
                    </li>
                    <li id="lis" style="margin-top: 30px;">Step 3 - Now go to Send SMS page</li>
                    <li id="lis" style="margin-top: 30px;">Step 4 - Upload your file of contacts</li>
                    <li id="lis" style="margin-top: 30px;">Step 5 - Click on send button</li>
                    <li id="lis" style="margin-top: 30px;">Step 6 - To check report, Go to Report Page
                    </li>
                </ol>
            </div>

            <div class="card w-50" style="overflow-y: auto; box-shadow: none;">

                <h3 style="text-align: center; font-weight: 700; color: #184cd0;">Page Views</h3>

                <div class="gallery">
                    <div class="column">
                        <img src="/static/assets/img/backgrounds/campaign.png" width="350px" height="240px"
                            style="margin-left: 100px; margin-top: 20px; box-shadow: 2px 2px 5px rgba(196, 196, 196, 0.797); border-radius: 5px; transition: 0.3s; cursor: pointer;"
                            id="pageview1" class="mt-3">
                        <!-- <img src="/static/assets/img/bg-smart-home-1.jpg" width="170px" height="170px" style="margin-left: 20px; margin-top: 30px;">
                                        <img src="/static/assets/img/bg-smart-home-1.jpg" width="170px" height="170px" style="margin-left: 20px; margin-top: 30px;"> -->
                        <img src="/static/assets/img/backgrounds/mediaid.png" width="350px" height="240px"
                            style="margin-left: 100px; margin-top: 20px; box-shadow: 2px 2px 5px rgba(196, 196, 196, 0.797); border-radius: 5px; transition: 0.3s; cursor: pointer;"
                            id="pageview1" class="mt-3">
                        <img src="/static/assets/img/backgrounds/pagev.png" width="350px" height="240px"
                            style="margin-left: 100px; margin-top: 20px; box-shadow: 2px 2px 5px rgba(196, 196, 196, 0.797); border-radius: 5px; transition: 0.3s; cursor: pointer;"
                            id="pageview1" class="mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>
<!-- / Layout wrapper -->
<script>
    $(document).ready(function(){
        $('#Dashboard').addClass('active');
    });
  </script>
{% endblock %}