<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body>
    <h2>OTP Verification</h2>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
         {% csrf_token %}
        <label for="otp">Enter OTP:</label><br>
        <input type="text" id="otp" name="otp"><br>
        <input type="submit" value="Verify OTP">
    </form>
</body>
</html>
