{% extends 'base.html' %}

{% block head %}
<style>
  .hideelement {
    display: none;
  }
</style>
{% endblock %}

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-8 mb-4 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">To generate more Template IDs</h5>
                <p class="mb-4">
                  Click on <span class="fw-bold">Campaign Page button</span> to generate more Template IDs
                </p>

                <a href="/campaign/" class="btn btn-sm btn-outline-primary">Campaign</a>
              </div>

            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="/static/assets/img/illustrations/animated.png" height="170" alt="View Badge User"
                  data-app-dark-img="illustrations/man-with-laptop-dark.png"
                  data-app-light-img="illustrations/man-with-laptop-light.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body" style="height: 190px;">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <img src="/static/assets/img/icons/unicons/cc-primary.png" class="rounded" />
                  </div>
                </div>
                <span class="fw-semibold d-block mb-1">I.P. Address</span>
                <h5 class="card-title mb-2">{{ ip_address}}</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body" style="height: 190px;">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <img src="/static/assets/img/icons/unicons/wallet-info.png" class="rounded" />
                  </div>
                </div>
                <span class="fw-semibold d-block mb-1">Total Sms</span>
                <h4 class="card-title text-nowrap mb-1">{{ coins }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-lg-4 order-2 order-md-3 order-lg-2 mb-4 shadow-primary mt-5 w-50">
        <div class="card z-index-2 w-100">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="border-radius-lg py-3 pe-1 bg-primary" style="height: 55px; border-radius: 10px;">
              <h5 style="color: white; text-align: center;">Send SMS</h5>
            </div>
          </div>
          <div class="card-body mt-4">
            <form method="POST" id="mediaForm" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">Campaign Name</label>
                <span class="text-warning">* Required</span>
                <input type="text" name="campaign_title" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Template Name</label>
                <span class="text-warning">* Required</span>
                <!-- <input type="text" id="params" name="params" class="form-control"> -->

                <select id="template-select" onchange="updateTemplate()" class="form-select" name="params">
                  {% for name in template_name %}
                  <option value="{{ name }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3" id="variable_inputs">
              </div>

              <input type="hidden" id="media_type_input" name="media_type">
              <input type="hidden" name="action_type" id="actionTypeInput" value="submit">

              <div class="mb-3" id="upload_media">
                <label class="form-label" for="mediaIdInput">Upload Media</label>
                <span class="text-warning">* Required</span>
                <input class="form-control" type="file" name="file" id="fileInput">
              </div>
              <div class="mb-3">
                <label class="form-label">Upload Excel File</label>
                <span class="text-secondary">* Optional</span>
                <input type="file" id="id_files" name="files" class="form-control" accept=".xls,.xlsx">
              </div>
              <p style="text-align: center;"></p>
              <div class="mb-3">
                <label class="form-label">Write Contact Numbers</label>
                <textarea class="form-control" placeholder="9844XXXXXX" id="floatingTextarea"
                  name="contact_number"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" onclick="setActionType('submit')">Submit</button>
              <button type="button" id="toggleScheduleButton" class="btn btn-secondary"
                onclick="toggleScheduleCall()">Schedule Call</button>

              <div id="date-time-fields" style="display:none; margin-top: 15px;">
                <div class="mb-3">
                  <label for="scheduleDate" class="form-label">Select Date</label>
                  <input type="date" id="scheduleDate" name="schedule_date" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="scheduleTime" class="form-label">Select Time</label>
                  <input type="time" id="scheduleTime" name="schedule_time" class="form-control" step="1">
                </div>
                <button type="button" class="btn btn-success" onclick="confirmSchedule()">Confirm</button>
              </div>

              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success">{{ message }}</div>
              {% elif message.tags == 'error' %}
              <div class="alert alert-danger">{{ message }}</div>
              {% elif message.tags == 'warning' %}
              <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% endfor %}
              {% endif %}

            </form>
          </div>
        </div>
      </div>

      <!-- template report -->
      <div class="col-12 col-lg-4 order-2 order-md-3 order-lg-2 mb-4 shadow-primary mt-5 w-50">


        <div class="col-12 col-lg-4 order-2 order-md-3 order-lg-2 mb-4 shadow-primary w-100">
          <div>
            <div class="card z-index-2">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="border-radius-lg py-3 pe-1 bg-primary" style="height: 55px; border-radius: 10px;">
                  <h5 style="color: white; text-align: center;">Template Content</h5>
                </div>
              </div>
              <div class="card-body" style="overflow-y: auto; height:530px;" id="greeting-display">
                <div class="mt-3">
                  <div class="float-start"
                    style="width: 120px; text-align: center; background-color: rgb(2, 140, 2); border-radius: 5px; letter-spacing: 2px; box-shadow: 1px 1px 4px rgb(189, 189, 189);">
                    <b><span id="template-status" style="color: white;"></span></b>
                  </div>
                  <div class="float-end bg-primary"
                    style="width: 120px; color: white; text-align: center; border-radius: 5px; letter-spacing: 2px; box-shadow: 1px 1px 4px rgb(189, 189, 189);">
                    <b><span id="template-media"></span></b>
                  </div>
                </div>
                <hr class="mt-5">
                <div class="mt-3">
                  <pre id="template-data"></pre>
                </div>
                <div style="width: 120px; margin-left: auto; margin-right: auto;">
                  <div class="" style="width: 170px; height: 50px; text-align: center;">
                    <!-- <i class='bx bx-phone-call float-start'></i> -->
                    <h5 class="bg-primary" style="color: white; border-radius: 2px;">
                      <pre id="template-button1" class="mt-2"></pre>
                    </h5>
                  </div>
                </div>
                <div class="" style="width: 120px; margin-left: auto; margin-right: auto;">
                  <div class="" style="width: 170px; height: 50px; text-align: center;">
                    <!-- <i class='bx bx-globe float-start'></i> -->
                    <h5 class="bg-primary" style="color: white; border-radius: 2px;">
                      <pre id="template-button2" class=""></pre>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="w-100 p-3 text-white rounded-top bg-dark">
        Message Report</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Campaign Title</th>
            <th scope="col">Template Name</th>
            <th scope="col">Sent Messages</th>

          </tr>
        </thead>
        <tbody>
          {% for report in report_list %}
          <tr>
            <td>{{ report.message_date }}</td>
            <td>{{ report.campaign_title }}</td>
            <td>{{ report.template_name }}</td>
            <td>{{ report.message_delivery }}</td>


          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



  </div>
</div>
<!-- / Layout wrapper -->

<script>

  // Usage example
  function setActionType(actionType) {
    document.getElementById('actionTypeInput').value = actionType;
  }

  function toggleScheduleCall() {
    var dateFields = document.getElementById('date-time-fields');
    var toggleButton = document.getElementById('toggleScheduleButton');

    // Toggle the visibility of the date-time fields
    if (dateFields.style.display === 'none') {
      dateFields.style.display = 'block';
      toggleButton.textContent = 'Hide Schedule Call'; // Change button text
    } else {
      dateFields.style.display = 'none';
      toggleButton.textContent = 'Schedule Call'; // Reset button text
    }
  }

  function confirmSchedule() {
    // Ensure the user selected both date and time
    var date = document.getElementById('scheduleDate').value;
    var time = document.getElementById('scheduleTime').value;

    if (!date || !time) {
      alert("Please select both date and time.");
      return;
    }
    // Set the action type to "schedule"
    setActionType('schedule');
    // Submit the form
    document.getElementById('mediaForm').submit();
  }

  document.getElementById("mediaForm").addEventListener("submit", function (event) {
    var mediaIdInput = document.getElementById("mediaIdInput");
    if (mediaIdInput.value.trim() === "") {
      mediaIdInput.value = "None";
    }
  });

  // Template Data Preview

  // Parse JSON strings passed from Django into JavaScript arrays
  const templateData = JSON.parse('{{ template_data|escapejs }}');
  const templateStatus = JSON.parse('{{ template_status|escapejs }}');
  const templateButton = JSON.parse('{{ template_button|escapejs }}');
  const templateMedia = JSON.parse('{{ template_media|escapejs }}');

  {% verbatim %}
      function updateTemplate() {
        const select = document.getElementById('template-select');
        const selectedIndex = select.selectedIndex;

        // Clear previous data before updating
        document.getElementById('template-status').innerText = '';
        document.getElementById('template-media').innerText = '';
        document.getElementById('template-data').innerText = '';
        document.getElementById('template-button1').innerText = '';
        document.getElementById('template-button2').innerText = '';

        const variableInputsDiv = document.getElementById('variable_inputs');
        variableInputsDiv.innerHTML = '';  // Clear inputs but not the label
    
        // Add the label if variables are present and the label is not already there
        if (!document.getElementById('variable_label')) {
            const label = document.createElement('label');
            label.className = 'form-label';
            label.id = 'variable_label';  // Give it an id so it won't be added multiple times
            label.textContent = 'Enter Variables';
            variableInputsDiv.appendChild(label);
            variableInputsDiv.appendChild(document.createElement('br'));
        }


        // Get the selected data
        const selectedData = templateData[selectedIndex];
        const selectedStatus = templateStatus[selectedIndex];
        const selectedButton = JSON.parse(templateButton[selectedIndex]); // Parse button data if it's JSON
        const selectedMedia = templateMedia[selectedIndex];

        if ((selectedMedia === "TEXT") || (selectedMedia === "N/A")) {
          $('#upload_media').addClass('hideelement');
        } else {
          $('#upload_media').removeClass('hideelement');
        }
    
        const placeholderRegex = /\{\{(\d+)\}\}/g;
        let match;
        while ((match = placeholderRegex.exec(selectedData)) !== null) {
          const variableNumber = match[1];
          
          // Create label for each placeholder
          const label = document.createElement('label');
          label.htmlFor = `variable${variableNumber}`;
          label.textContent = `Enter value for {{${variableNumber}}}`;
          label.className = 'form-label text-warning'; // Optionally, you can add a class for styling
          
          // Create input field for each placeholder
          const inputField = document.createElement('input');
          inputField.type = 'text';
          inputField.className = 'form-control mb-2';
          inputField.name = `variable${variableNumber}`;
          inputField.id = `variable${variableNumber}`;  // Set id to match the label's "for" attribute
          inputField.placeholder = `Enter value for {{${variableNumber}}}`;
          
          // Add the label and input field to the div
          variableInputsDiv.appendChild(label);
          variableInputsDiv.appendChild(inputField);
      }

        // Display data
        document.getElementById('template-status').innerText = selectedStatus;
        document.getElementById('template-media').innerText = selectedMedia;
        document.getElementById('template-data').innerText = typeof selectedData === 'object' ? JSON.stringify(selectedData, null, 2) : selectedData;
        document.getElementById('template-button1').innerText = typeof selectedButton === 'object' ? JSON.stringify(selectedButton[0]['text'], null, 2) : selectedButton;
        document.getElementById('template-button2').innerText = typeof selectedButton === 'object' ? JSON.stringify(selectedButton[1]['text'], null, 2) : selectedButton;

        document.getElementById('media_type_input').value = selectedMedia;

      }
      {% endverbatim %}

  // Initial display setup on page load
  document.addEventListener("DOMContentLoaded", function () {
    updateTemplate();
  });

</script>
<script>
  $(document).ready(function(){
      $('#sendSms').addClass('active');
  });
</script>
{% endblock %}